{% extends "./intranetBase.html" %} 

{% block contenido %}
<div class="container content-center mt-5" >

    {% if protocolos %}

        <table class="table" id="tablaProtocols" >

            <thead>
                <tr>
                    <th>Documento</th>
                    <th>Investigador</th>
                    <th>Proyecto</th>
                    <th>Descripción</th>
                    <th>Fecha de Creacion</th>
                    <th>Eliminar</th>

                </tr>
            </thead> 

            <tbody>

                {% for protocolo in protocolos %}
                    <tr>
                        <td> <a href="{{protocolo.documento.url}}" target="_blank">{{protocolo.documento}}</a> </td>
                        <td>{{protocolo.investigador}}</td>
                        <td>{{protocolo.proyecto}}</td>
                        <td>{{protocolo.descripcion}}</td>
                        <td>{{protocolo.created_at}}</td>
                        
                        <td>
                            <a href="{% url 'eliminarDoc' protocolo.id %}" class="btn btn-danger"  ><i class="bi bi-trash3"></i></a>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>

        </table>

        <div class="container mt-5">
            <a href="{% url 'intranet' %}" class="btn btn-success"> Subir Nuevo Documento </a>
        </div>

        {% else %}

            <div class="alert container alert-danger text-center display-4 my-3">
                No Hay Protocolos Registrados
            </div>


        {% endif %}

    

</div>

<!-- Eliminar Modal-->
<div class="modal fade" id="eliminarModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">¿Esta seguro que desea elimiar el documento?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">"If you click 'sure', all records of the document will be lost."</div>
            <div class="modal-footer">
                <button class="btn btn-success" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger" href="#">Sure</a>
            </div> 
        </div>
    </div>
</div>



{% endblock %} 