<!doctype html>

    {% load static %}

<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Centre of Integrative Ecology - Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    
  </head>

  <body>

    <!--Header-->
    <div class="container-fluid text-center" id="headerHome">



      <!--Navbar-->
      <div class="row align-items-top justify-content-between">

        <div class="col-2 mt-4">
            
          <img src="{% static 'img/logosolo.png' %}" alt="logo" width="130px">              

        </div>

        <div class="col-6 mt-5">

          {% include 'includes/navbar.html' with active='home' %}

        </div>
          
      </div>

      <!--Titulo-->
      <div class="row justify-content-start" >

          <div class="col-7" id="tituloHome">
              <h2 class="ms-5" style="font-weight: bold;">
                  Centre for Integrative Ecology
              </h2>
              <h4 class="ms-5" >
                Understanding natural processes requires integrating diverse knowledge from various fields, aiming to <b>study ecological phenomena through a multiscale approach.</b>
              </h4>
          </div>            

      </div>




    </div>

    
  

    <!--Lines of research-->
    <div class="row align-items-center justify-content-evenly mx-5 my-5">

      <h5 class="col " style="font-weight: bold;">
        Research lines:
      </h5>

      <a href="{% url 'research' %}" style="background-color: #025E73;" class="ovalos py-3 col"><i class="bi bi-stars"></i> Astroecology </a>
      <a href="{% url 'research' %}" style="background-color: #B2CF53;" class="ovalos py-3 col"><i class="bi bi-bug-fill"></i> Microbial Ecology </a>
      <a href="{% url 'research' %}" style="background-color: #D97823;" class="ovalos py-3 col"><i class="bi bi-feather2"></i> Plant Ecology </a>
      <a href="{% url 'research' %}" style="background-color: #525507;" class="ovalos py-3 col"><i class="bi bi-people-fill"></i> Socioecology </a>

    </div>

    <hr class="mx-5">
  
    
    <!--News-->
    <div class="container-fluid text-center px-5 py-4">

      <div class="row justify-content-between  my-5">
        <div class="col-3">
          <h3 style="color:#3A7DA4;">
            Last News
          </h3>
        </div>

        <a href="{% url 'news' %}" style="background-color:#3A7DA4; border-color:#3A7DA4; "  class="col-2 align-self-center btn btn-primary mt-3 mx-5"> News portal... </a>

      </div>

      <div class="row justify-content-evenly gx-5">

        {% for new in news|slice:":4" %}
        
        <div class="card my-3" style="width: 17rem; ">
          <img src="{% static 'img/new1.webp' %}" alt="img" class="card-img-top">

          <div class="card-header text-body-secondary fw-lighter fst-italic"> {{new.fecha}} </div>

          <div class="card-body" style="text-align: left;">

            <h5 class="card-title"> {{new.encabezado}} </h5>
            <hr>
            <p class="card-text"> {{new.subtitulo}} </p>
            <a href="/news/{{new.id}}" class="card-link">Read more...</a>

          </div>

      
        </div>
        
        {% endfor %}     

        

      </div>

    </div>




    <br><br><br><br><br><br><br><br><br>


   <!--Footer-->
   <div class="container-fluid text-center px-5 py-5" id="footer">

    <div class="row">

      <div class="col">
        <div class="row">
          <img src="{% static 'img/logo.png' %}" alt="logo del cei" style="width: 15rem;" >
        </div>
        <div class="row">
          <img src="{% static 'img/logoutal.png' %}" alt="logo de utal" style="width: 10rem;" class="my-5">
        </div>
      </div>

      <div class="col">
        <div class="row sec-footer">
          Navegation
        </div>
        <ul class="list-footer">
          <li class="mb-2">
            <a href="#" class="item-footer">Home</a>
          </li>
          <li class="mb-2"> 
            <a href="{% url 'research' %}" class="item-footer">Research</a>
          </li>
          <li class="mb-2">
            <a href="{% url 'miembros' %}" class="item-footer">Members</a>
          </li>
          <li class="mb-2">
            <a href="{% url 'pub' %}" class="item-footer">Publications</a>
          </li>
          <li class="mb-2">
            <a href="{% url 'news' %}" class="item-footer">News</a>
          </li>
        </ul>
      </div>

      <div class="col">
        <div class="row sec-footer">
          Contact
        </div>

        <ul class="list-footer">
          <li class="mb-2 item-footer">
            contact@cei.cl
          </li>
          <li class="mb-2 item-footer"> 
            Address: Universidad de Talca ¿?
          </li>
          
        </ul>

      </div>

      <div class="col">
        <div class="row sec-footer">
          social networks
        </div>

        <ul class="list-footer">
          <li class="mb-2 icon-footer">
            <a href="https://www.instagram.com/" class="list-footer item-footer"> <i class="bi bi-instagram"></i> </a>
          </li>
          <li class="mb-2 icon-footer"> 
            <a href="https://www.tiktok.com/login?lang=es&redirect_url=https%3A%2F%2Fwww.tiktok.com%2Fupload%3Flang%3Des" class="list-footer item-footer"> <i class="bi bi-tiktok"></i> </a>
          </li>
          <li class="mb-2 icon-footer"> 
            <a href="https://twitter.com/i/flow/login" class="list-footer item-footer"> <i class="bi bi-twitter-x"></i> </a>
          </li>
          
        </ul>
      </div>

    </div>

    <div class="row align-items-end justify-content-end">
      <div class="col-2">
        <a href="{% url 'login' %}" target="_blank"  class="item-footer"> Private workspace </a>
      </div>
    </div>

   </div>


   
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  </body>
</html>