/* styles for home page */
#headerHome {
    background-image: url('../img/inicio.webp');
    background-size: cover;
    background-position: center;
}

#tituloHome {
    color: white;
    margin-top: 5%;
    margin-bottom: 7%;
    text-align: left;
    background-color: #6a6a6aaf;
    padding-top: 2%;
    padding-bottom: 2%;
}

.ovalos{
    text-decoration: none;
    width: auto;
    height: auto;
    border-radius: 100px;
    color: white;
    margin: 10px;
    text-align: center;
}

.ovalos:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}

#aboutHome {
    background-color: #f8f9fa;
    border-radius: 8px;
}
