.upload-box{
    font-size: 16px;
    background: white;
    border-radius: 50px;
    box-shadow: 1px 1px 2px #6a6a6a;
    width: 350px;
    outline: none;
}

::-webkit-file-upload-button{
    color: white;
    background: #206a5d;
    padding: 15px;
    border: none;
    border-radius: 50px;
    outline: none;
}

::-webkit-file-upload-button:hover{
    background: #438a5e;
}