#headerHome {
    background-image: url('../img/inicio.webp');
  
    /* Ajustar la configuración de la imagen de fondo */
    background-size: cover;
    background-position: center;
}

#headerNews {
    background-image: url('../img/jardin.jpg');
  
    /* Ajustar la configuración de la imagen de fondo */
    background-size: cover;
    background-position: center;
}

#headerNew {
    background-color: #1C5744;
}

#headerPub{
    background-image: url('../img/utaldron.jpg');
    background-size: cover;
    background-position: center;
}

#headerRes{
    background-image: url('../img/fondochile.webp');
    background-size: cover;
    background-position: center;
}

#footer {
    background-image: url('../img/utal.webp');
  
    /* Ajustar la configuración de la imagen de fondo */
    background-size: cover;
    background-position: center;
}


.nav-item {
    font-size: large;
    color: white; /* Color del texto */


}

.nav-item:hover {
    color: #C2E093; /* Color del texto */
    font-weight: bold; 
    border-bottom: 2px solid #C2E093; /* Agrega una línea blanca de 2px de grosor */
    padding-bottom: 0%; 
    
}

body {
    font-family: 'Noto Sans', sans-serif;
}

.custom-toggler {
    border: 1px solid white; /* Agrega un contorno blanco al botón */
    color: white; /* Cambia el color del texto del botón a blanco */
}
  
/* Estilo del ícono blanco */
.icon-white {
    color: white; /* Cambia el color del ícono a blanco */
}

.active {
    font-weight: bold; 
    color: white; /* Color del texto */
    border-bottom: 2px solid white; /* Agrega una línea blanca de 2px de grosor */
    padding-bottom: 0%; 
        
}

#tituloHome {
    color: white;
    margin-top: 23%;
    margin-bottom: 22%;
}

#tituloOthers {
    color: white;
    margin-top: 10%;
    margin-bottom: 10%;
    
}

.subtitulo{
    color: #78B721;
    font-weight: bold; 
    font-size: x-large;
}

#goal {
    color: white;
    
}

.bold{
    font-weight: bold;
}
  

.name{
    padding: 0;
    margin: 0;
    text-align: start;
    font-size:large ;
    font-weight: bold;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#customCard img{
    height: auto;
    width: 450px;
    border-radius: 3px;
    transition: .5s ;
}

#customContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
}

#customCard{
    border:initial;
    width: 450px;
    margin: 50px;
    box-shadow: 5px 5px 20x black;
    overflow: hidden;
}

.intro{
    height: 50px;
    width: 450px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    background: rgb(27, 27, 27, .5);
    color: white;
    transition: .5s ;
    text-align: start;
}

#customCard h1{
    margin: 5px;
    font-size: 30px;
}

#customCard h2{
    margin: 5px;
    font-size: 18px;
}

#customCard p{
    font-size: 15px;
    margin: 20px;
    visibility: hidden;
    opacity: 0;
}

#customCard span{
    font-weight: bold;
}

#customCard:hover{
    cursor: pointer;
}

#customCard:hover .intro{
    height: 250px;
    bottom: 0px;
    background: black;
}

#customCard:hover p{
    opacity: 1;
    visibility: visible;
}

#customCard:hover img{
    width: 500px;
    transition: .5s;
}