#headerHome {
    background-image: url('../img/inicio.webp');
  
    /* Ajustar la configuración de la imagen de fondo */
    background-size: cover;
    background-position: center;
}

#headerNews {
    background-image: url('../img/jardin.jpg');
  
    /* Ajustar la configuración de la imagen de fondo */
    background-size: cover;
    background-position: center;
}

#headerNew {
    background-color: #1C5744;
}

#headerPub{
    background-image: url('../img/utaldron.jpg');
    background-size: cover;
    background-position: center;
}

#headerRes{
    background-image: url('../img/fondochile.webp');
    background-size: cover;
    background-position: center;
}

#headerMem{
    background-image: url('../img/jardinmem.webp');
    background-size: cover;
    background-position: center;
}

#footer {
    background-color: #1C5744;
}

.sec-footer {
    font-size:medium;
    color: white;
    text-align: start;
    font-weight: bold;
    border-bottom: 2px solid white;
    width: 200px;
    padding-left: 10px ;
    padding-bottom: 7px;
}

.list-footer{
    list-style-type: none;
    padding: 0;
    text-align: start;
    margin-top: 10px;
}

.item-footer{
    color: white;
    text-decoration: none;  
}

.icon-footer{
    display: inline-block;
    margin-right: 40px;  
    font-size: x-large;
}

.item-footer:hover{
    color:#C2E093;
}

.custom-nav-item {
    font-size: large;
    color: white; /* Color del texto */


}

.custom-nav-item:hover {
    color: #C2E093; /* Color del texto */
    font-weight: bold; 
    border-bottom: 2px solid #C2E093; /* Agrega una línea blanca de 2px de grosor */
    padding-bottom: 0%; 
    
}

body {
    font-family: 'Noto Sans', sans-serif;
}

.custom-custom-toggler {
    border: 1px solid white; /* Agrega un contorno blanco al botón */
    color: white; /* Cambia el color del texto del botón a blanco */
}
  
/* Estilo del ícono blanco */
.icon-white {
    color: white; /* Cambia el color del ícono a blanco */
}

.custom-nav-item .active {
    font-weight: bold; 
    color: white; /* Color del texto */
    border-bottom: 2px solid white; /* Agrega una línea blanca de 2px de grosor */
    padding-bottom: 0%; 
        
}

#tituloHome {
    color: white;
    margin-top: 5%;
    margin-bottom: 7%;
    text-align: left;
    background-color: #6a6a6aaf;
    padding-top: 2%;
    padding-bottom: 2%;
}

#tituloOthers {
    color: white;
    margin-top: 10%;
    margin-bottom: 10%;
    
}

.subtitulo{
    color: #78B721;
    font-weight: bold; 
    font-size: x-large;
}

#goal {
    color: white;
    
}

.bold{
    font-weight: bold;
}
  

.name{
    padding: 0;
    margin: 0;
    text-align: start;
    font-size:large ;
    font-weight: bold;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#customCard img{
    height: auto;
    width: 450px;
    border-radius: 3px;
    transition: .5s ;
}

#customContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
}

#customCard{
    border:initial;
    width: 450px;
    margin: 50px;
    box-shadow: 5px 5px 20x black;
    overflow: hidden;
}

.intro{
    height: 50px;
    width: 450px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    background: rgb(27, 27, 27, .5);
    color: white;
    transition: .5s ;
    text-align: start;
}

.intro-2{
    height: 90px;
    width: 450px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    background: rgb(27, 27, 27, .5);
    color: white;
    transition: .5s ;
    text-align: start;
}

#customCard h1{
    margin: 5px;
    font-size: 30px;
}

#customCard h2{
    margin: 5px;
    font-size: 18px;
}

#customCard p{
    font-size: 15px;
    margin: 20px;
    visibility: hidden;
    opacity: 0;
}

#customCard span{
    font-weight: bold;
}

#customCard:hover{
    cursor: pointer;
}

#customCard:hover .intro{
    height: 250px;
    bottom: 0px;
    background: black;
}

#customCard:hover .intro-2{
    height: 250px;
    bottom: 0px;
    background: black;
}

#customCard:hover p{
    opacity: 1;
    visibility: visible;
}

#customCard:hover img{
    width: 500px;
    transition: .5s;
}

#containerMember{
    width: 100%;
    max-width: 1200px;
    display: flex;
    
}

#cardMember{
    all: initial;
    font-family: 'Noto Sans', sans-serif;
    width: 100%;
    margin: 15px;
    border-radius: 6px;
    overflow: hidden;
    background: white;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}

#cardMember:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}

#cardMember img{
    width: 100%;
    height: 220px;
}

#cardMember .contenido{
    padding: 15px;
    text-align: left;
}

#cardMember .contenido p{
    line-height: 1.5;
    color: #6a6a6a;
}

#cardMember .contenido .h4{
    font-weight: 400;
    margin-bottom: 15px;
    color: #3A7DA4;
}

.ovalos{
    text-decoration: none;
    width: auto;
    height: auto;
    border-radius: 100px;
    color: white;
    margin: 10px;
    text-align: center;
}

.ovalos:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}

.bg-light{
    background-color: transparent !important;
}

.carousel-item{
    height: 100vh;
    min-height: 300px;
    transition: transform 0.6s ease;
}

.carousel-item.next {
    transform: translateX(100%);
}
  
.carousel-item.prev {
    transform: translateX(-100%);
}

.carousel-caption{
    bottom: 150px;
}

.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.carousel-caption a{
    text-transform: uppercase;
    text-decoration: none;
    background: #3A7DA4;
    padding: 10px 30px;
    display: inline-block;
    color: #000;
    margin-top: 15px;
}

.navbar-nav a{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar-light .navbar-brand{
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover{
    color: #fff;
}

.navbar-light .navbar-nav .nav-link{
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover{
    color: #fff;
}

.w-100{
    height: 100vh;
}