<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <button class="navbar-toggler custom-custom-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="bi bi-list icon-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0 justify-content-center">
          <li class="nav-item custom-nav-item me-5">
            <a class="nav-link {% if active == 'home' %}active{% endif %}" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item custom-nav-item me-5">
            <a class="nav-link {% if active == 'research' %}active{% endif %}" href="{% url 'research' %}">Research</a>
          </li>
          <li class="nav-item custom-nav-item me-5">
            <a class="nav-link {% if active == 'members' %}active{% endif %}" href="{% url 'miembros' %}">Members</a>
          </li>
          <li class="nav-item custom-nav-item me-5">
            <a class="nav-link {% if active == 'publications' %}active{% endif %}" href="{% url 'pub' %}">Publications</a>
          </li>
          <li class="nav-item custom-nav-item me-5">
            <a class="nav-link {% if active == 'news' %}active{% endif %}" href="{% url 'news' %}">News</a>
          </li>
        </ul>
    </div>
  </div>
</nav>
