{% extends 'base.html' %}
{% load static %}
{% block title %}Publications{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/publications.css' %}">
{% endblock %}
{% block content %}
<div class="container-fluid text-center" id="headerPub">
    <div class="row justify-content-center">
        <div class="container ">
            <h1 class="display-3" id="tituloOthers">
                Publications
            </h1>
        </div>
    </div>
</div>
<!--Publications-->
<div class="container-fluid text-center mt-5">
    <!--Forms-->
    <div class="row justify-content-between align-items-center mx-5 px-5">
        <!--Search-->
        <div class="col-4">
          <form role="search">
            <div class="row justify-content-start">
              <div class="col-10">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
              </div>
              <div class="col-2">
                <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
              </div>
            </div>
          </form>
        </div>
        <!--Filters-->
        <div class="col-3">
            <div class="row justify-content-end">
                <div class="col-5">
                    <label for="selectfilter" class="col-form-label"> Filter Type:</label>
                </div>
                <div class="col-7">
                    <select class="form-select form-select-sm" id="selectfilter" aria-label="Default select example">
                      <option selected>All types</option>
                      <option value="1">Journal Article</option>
                      <option value="2">Report</option>
                      <option value="3">Book section</option>
                    </select>
                  </div>
            </div>
        </div>
        <!--Sort by-->
        <div class="col-3">
          <div class="row justify-content-end">
            <div class="col-4">
              <label for="selectorder" class="col-form-label">Sort by:</label>
            </div>
            <div class="col-8">
              <select class="form-select form-select-sm" id="selectorder" aria-label="Default select example">
                <option selected>Most recent</option>
                <option value="1">Older</option>
                <option value="2">Type</option>
              </select>
            </div>
          </div>
        </div>
    </div>
    <div class="container-fluid text-center py-3 mx-2 mt-5">
      <div class="row align-items-center justify-content-center my-4 px-5 mx-5 ">
        <div class="row">
          <h4 class="col mx-5" style="text-align: start;">
              <i class="bi bi-file-earmark-text-fill"></i> <a href="#" style="font-weight: bold; color: #1C5744;" > Continuous bioreactors enable high-level bioremediation of diesel-contaminated seawater at low and mesophilic temperatures using Antarctic bacterial consortia: Pollutant analysis and microbial community composition.(2024) </a> Yoelvis Sulbaran-Bracho, Matias Orellana-Saez, Juan Castro-Severyn, Cristóbal Galbán-Malagón, Eduardo Castro-Nallar, Ignacio Poblete-Castro
              <br>
              <em>Environmental Pollution.</em>
          </h4>
        </div>
        <div class="row mx-5 mt-2 ">
          <a href="#" class="col-1 ms-5 me-2 btn btn-outline-success">Cite</a>
          <a href="#" class="col-1 mx-2 btn btn-outline-success">DOI</a>
          <a href="#" class="col-1 mx-2 btn btn-outline-success">URL</a>
        </div>
      </div>
      <hr style="color: #3A7DA4;" class="mx-5  border-1" >
      <div class="row align-items-center justify-content-center my-4 px-5 mx-5 ">
        <div class="row">
          <h4 class="col mx-5" style="text-align: start;">
              <i class="bi bi-file-earmark-text-fill"></i> <a href="#" style="font-weight: bold; color: #1C5744;" > Continuous bioreactors enable high-level bioremediation of diesel-contaminated seawater at low and mesophilic temperatures using Antarctic bacterial consortia: Pollutant analysis and microbial community composition.(2024) </a> Yoelvis Sulbaran-Bracho, Matias Orellana-Saez, Juan Castro-Severyn, Cristóbal Galbán-Malagón, Eduardo Castro-Nallar, Ignacio Poblete-Castro
              <br>
              <em>Environmental Pollution.</em>
          </h4>
        </div>
        <div class="row mx-5 mt-2 ">
          <a href="#" class="col-1 ms-5 me-2 btn btn-outline-success">Cite</a>
          <a href="#" class="col-1 mx-2 btn btn-outline-success">DOI</a>
          <a href="#" class="col-1 mx-2 btn btn-outline-success">URL</a>
        </div>
      </div>
      <hr style="color: #3A7DA4;" class="mx-5  border-1" >
      <div class="row align-items-center justify-content-center my-4 px-5 mx-5 ">
        <div class="row">
          <h4 class="col mx-5" style="text-align: start;">
              <i class="bi bi-file-earmark-text-fill"></i> <a href="#" style="font-weight: bold; color: #1C5744;" > Continuous bioreactors enable high-level bioremediation of diesel-contaminated seawater at low and mesophilic temperatures using Antarctic bacterial consortia: Pollutant analysis and microbial community composition.(2024) </a> Yoelvis Sulbaran-Bracho, Matias Orellana-Saez, Juan Castro-Severyn, Cristóbal Galbán-Malagón, Eduardo Castro-Nallar, Ignacio Poblete-Castro
              <br>
              <em>Environmental Pollution.</em>
          </h4>
        </div>
        <div class="row mx-5 mt-2 ">
          <a href="#" class="col-1 ms-5 me-2 btn btn-outline-success">Cite</a>
          <a href="#" class="col-1 mx-2 btn btn-outline-success">DOI</a>
          <a href="#" class="col-1 mx-2 btn btn-outline-success">URL</a>
        </div>
      </div>
    </div>
</div>
{% endblock %}
