{% extends 'base.html' %}
{% load static %}
{% block title %}Research{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/research.css' %}">
{% endblock %}
{% block content %}
<div class="container-fluid text-center" id="headerRes">
    <div class="row justify-content-center">
        <div class="container ">
            <h1 class="display-3" id="tituloOthers">
                Research
            </h1>
        </div>
    </div>
</div>
<!--Research-->
<div class="container-fluid text-center px-5 py-4">
  <div class="row justify-content-start my-5">
    <div class="col-4">
      <h3 style="color:#78B721;">
        CIE's scientific areas:
      </h3>
    </div>
  </div>
  <div class="container" id="customContainer">
    <div class="card" id="customCard">
      <img src="{% static 'img/astroecology.webp' %}" alt=" astroecology img " >
      <div class="intro">
        <h1>
          Astroecology
        </h1>
        <p>
          <span>Astroecology</span> is a research field devoted to scientific study of the interactions of life with extreme environments even exoplanetary conditions. By applying theory, methods and technology from ecology, microbiology, molecular biology, and engineering, we aim to help solve major global challenges such as extreme climate change and space-research stuff.
        </p>
      </div>
    </div>
    <div class="card" id="customCard">
      <img src="{% static 'img/microbial.webp' %}" alt=" microbialecology img " >
      <div class="intro">
        <h1>
          Microbial Ecology
        </h1>
        <p>
           The diversity and functional significance of microbial communities have become apparent in the last 20 years. <span>Microbial and viral communities</span> dominate nearly every habitat on Earth from the deep ocean subsurface to the mountain tops and everything in between.
        </p>
      </div>
    </div>
  </div>
  <div class="container" id="customContainer">
    <div class="card" id="customCard">
      <img src="{% static 'img/plant.webp' %}" alt=" plant img " >
      <div class="intro">
        <h1>
          Plant Ecology
        </h1>
        <p>
          <span>Plants </span>are the key as they produce most of the organic energy that sustain life and ecosystem processes on earth. This <span>organic energy</span> can be in live organisms or dead matter and sustain plant-based trophic food webs or detritus-based trophic webs.
        </p>
      </div>
    </div>
    <div class="card" id="customCard">
      <img src="{% static 'img/astroecology.webp' %}" alt=" astroecology img " >
      <div class="intro">
        <h1>
          Socioecology
        </h1>
        <p>
          <span>Astroecology</span> is a research field devoted to scientific study of the interactions of life with extreme environments even exoplanetary conditions. By applying theory, methods and technology from ecology, microbiology, molecular biology, and engineering, we aim to help solve major global challenges such as extreme climate change and space-research stuff.
        </p>
      </div>
    </div>
  </div>
</div>
<hr style="color: #3A7DA4;" class="mx-5" >
<br><br><br><br><br>
{% endblock %}
