<!doctype html>

    {% load static %}

<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Center Of Integrative Ecology - Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    
  </head>

  <body>

    <!--Header-->
    <div class="container-fluid text-center" id="headerRes">

      <!--Logo-->
        <div class="row justify-content-center">

            <div class="col-2 mt-3 me-3" style="padding: 0%; text-align: end;">
              <img src="{% static 'img/logo.png' %}" alt="logo" width="70px">
            </div>
            <div class="col-2 align-self-end mt-3 me-5 pe-5 name">
              Centre for Integrative Ecology
            </div>

            </div>

        <!--Navbar-->
        <div class="row justify-content-center">
          <div class="col mt-3">

            <nav class="nav navbar-expand-lg ">
              <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="bi bi-list icon-white"></i>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mx-auto mb-2 mb-lg-0 justify-content-center">
                    <li class="nav-item me-5">
                      <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item me-5">
                      <a class="nav-link active" aria-current="page" href="#">Research</a>
                    </li>
                    <li class="nav-item me-5">
                      <a class="nav-link"  href="{% url 'miembros' %}">Members</a>
                    </li>
                    <li class="nav-item me-5">
                      <a class="nav-link" href="{% url 'pub' %}">Publications</a>
                    </li>
                    <li class="nav-item me-5">
                      <a class="nav-link" href="{% url 'news' %}">News</a>
                    </li>
                  </ul>
              </div>
              
            </nav>

          </div>                
            
        </div>

        <!--Titulo-->
          <div class="row justify-content-center" >

              <div class="container ">
                  <h1 class="display-3" id="tituloOthers">

                      Research
  
                  </h1>
              </div>            

          </div>




      </div>

    <!--Research-->
    <div class="container-fluid text-center px-5 py-4">

      <div class="row justify-content-start my-5">
        <div class="col-4">
          <h3 style="color:#78B721;">
            CIE's scientific areas:
          </h3>
        </div>
      </div>
    

      <div class="container" id="customContainer"> 

        <div class="card" id="customCard">
          <img src="{% static 'img/astroecology.webp' %}" alt=" astroecology img " >

          <div class="intro">
            <h1>
              Astroecology
            </h1>
            <p>
              <span>Astroecology</span> is a research field devoted to scientific study of the interactions of life with extreme environments even exoplanetary conditions. By applying theory, methods and technology from ecology, microbiology, molecular biology, and engineering, we aim to help solve major global challenges such as extreme climate change and space-research stuff.
            </p>
          </div>

        </div>

        <div class="card" id="customCard">
          <img src="{% static 'img/microbial.webp' %}" alt=" microbialecology img " >

          <div class="intro">
            <h1>
              Microbial Ecology
            </h1>
            <p>
               The diversity and functional significance of microbial communities have become apparent in the last 20 years. <span>Microbial and viral communities</span> dominate nearly every habitat on Earth from the deep ocean subsurface to the mountain tops and everything in between.
            </p>
          </div>

        </div>


      </div>

      <div class="container" id="customContainer"> 

        <div class="card" id="customCard">
          <img src="{% static 'img/plant.webp' %}" alt=" plant img " >

          <div class="intro">
            <h2>
              Plant Ecology and Evolution in Agroecosystems
            </h2>
            <p>
              <span>Plants </span>are the key as they produce most of the organic energy that sustain life and ecosystem processes on earth. This <span>organic energy</span> can be in live organisms or dead matter and sustain plant-based trophic food webs or detritus-based trophic webs.
            </p>
          </div>

        </div>

        <div class="card" id="customCard">
          <img src="{% static 'img/astroecology.webp' %}" alt=" astroecology img " >

          <div class="intro">
            <h1>
              Astroecology
            </h1>
            <p>
              <span>Astroecology</span> is a research field devoted to scientific study of the interactions of life with extreme environments even exoplanetary conditions. By applying theory, methods and technology from ecology, microbiology, molecular biology, and engineering, we aim to help solve major global challenges such as extreme climate change and space-research stuff.
            </p>
          </div>

        </div>


      </div>
      
      <hr style="color: #3A7DA4;" class="mx-5" >

   

   





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  </body>
</html>