{% extends 'base.html' %}
{% load static %}
{% block title %}News{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/news.css' %}">
{% endblock %}
{% block content %}
<div class="container-fluid text-center" id="headerNews">
    <div class="row justify-content-center">
        <div class="container ">
            <h1 class="display-3" id="tituloOthers">
                News
            </h1>
        </div>
    </div>
</div>

<!--Listado de noticias-->
<div class="container-fluid text-center mt-5">
  <!--Forms-->
  <div class="row justify-content-between align-items-center mx-5 px-5">
    <!--Search-->
    <div class="col-4">
      <form role="search">
        <div class="row justify-content-start">
          <div class="col-10">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
          </div>
          <div class="col-2">
            <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
          </div>
        </div>
      </form>
    </div>
    <!--Sort by-->
    <div class="col-3">
      <div class="row justify-content-end">
        <div class="col-4">
          <label for="selectorder" class="col-form-label">Sort by:</label>
        </div>
        <div class="col-8">
          <select class="form-select form-select-sm" id="selectorder" aria-label="Default select example">
            <option selected>Most recent</option>
            <option value="1">Older</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <!--Listado-->
  <div class="row justify-content-evenly p-5">
    {% for new in news %}
    <div class="card mx-3 my-3" style="width: 20rem;">
      <img src="{% static 'img/new1.webp' %}" alt="img" class="card-img-top">
      <div class="card-header text-body-secondary fw-lighter fst-italic"> {{new.fecha}} </div>
      <div class="card-body" style="text-align: left;">
        <h5 class="card-title"> {{new.encabezado}} </h5>
        <hr>
        <p class="card-text"> {{new.subtitulo}} </p>
        <a href="/news/{{new.id}}" class="card-link">Read more...</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
